@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.itemDetail {
    margin-top: 10rem;
    margin-bottom: 4rem;
    display: flex;
    padding: 0 10% 0 10%;

    &__img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 75%;
            border-radius: 10px;
        }
    }

    &__data {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;

        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 4rem;
            margin-bottom: 4rem;

            &__title {
                font-size: 2.5rem;
                margin-top: 0;
                margin-bottom: 2rem;
                font-family:'Baloo 2', cursive ;
                
            }

            &__price {
                font-size: 1.5rem;
                margin-top: 0;
            }

            &__sale {
                font-size: 1.1rem;
                margin: 0;
            }
        }

        &__count {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__qty {
                font-size: 1.2rem;
            }
        }

        &__finishLink {
            text-align: start;
            button {
                font-size: 1.3rem;
                border-radius: 6px;
                border: none;
                padding: .5rem;
                background-color: #0e630e;
                color: #fff;
                cursor: pointer;
                transition: .5s ease;
            }

            button:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }
        }
    }

    @media (max-width: 1100px) {
        padding: 0 5% 0 5%;
        &__img {
            margin-right: 1rem;
            img {
                width: 350px;
            }
        }
    }

    @media (max-width: 850px) {
        margin-top: 8rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        padding: 0 10% 0 10%;
        &__img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 60%;
            }
        }

        &__data {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2rem;
                margin-bottom: 2rem;
    
                &__title {
                    font-size: 2.5rem;
                    margin-top: 0;
                    margin-bottom: 2rem;
                    font-family:'Baloo 2', cursive ;
                    
                }
    
                &__price {
                    font-size: 1.5rem;
                    margin-top: 0;
                }
    
                &__sale {
                    font-size: 1.1rem;
                    margin: 0;
                }
            }
    
            &__count {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                &__qty {
                    font-size: 1.2rem;
                }
            }
        }
    }

    @media (max-width: 470px) {
        &__img {
            img {
                width: 80%;
            }
        }

        &__data {
            &__info {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}